/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/
# rspec failure tracking
.rspec_status
.byebug_history
/dummy/tmp/cache/
/dummy/log/*.log
/dummy/db
belated_dump
stackprof*
history_*